@page "/"
@using Mythril.Blazor.Services
@using Mythril.Data
@using Mythril.Data.Items
@using Mythril.Data.Jobs
@using Mythril.Data.Materia

@inject GameDataService GameDataService
@inject ResourceManager resourceManager

<PageTitle>Mythril</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @if (resourceManager is not null)
            {
                <ResourcePanel Gold="@resourceManager.Gold" Mana="@resourceManager.Mana" Faith="@resourceManager.Faith" Items="resourceManager.Inventory.GetItems().ToList()" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @if (resourceManager is not null)
            {
                <HandPanel Tasks="resourceManager.AvailableTasks" OnTaskDiscard="EventCallback.Factory.Create<TaskData>(this, DiscardTask)" />
            }
            else
            {
                <p><em>Loading...</em></p>
            }
        </div>
        <div class="col-6">
             @if (resourceManager is not null)
            {
                <PartyPanel Party="resourceManager.Characters" TaskProgresses="taskProgresses" OnTaskDrop="EventCallback.Factory.Create<(TaskData, Character)>(this, TaskDropped)" />
            }
            else
            {
                <p><em>Loading...</em></p>
            }
        </div>
    </div>
@*     <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <select class="form-select" @onchange="OnZoneSelected">
                        <option selected>Select a zone</option>
                        @foreach (var zone in zones)
                        {
                            <option value="@zone">@zone</option>
                        }
                    </select>
                </div>
            </div>
            <CombatView Enemies="enemiesInZone" />
        </div>
    </div> *@
</div>

@using System.Timers
@code {
    [Parameter]
    public EventCallback<TaskProgress> OnTaskCompleted { get; set; }

    private List<TaskProgress> taskProgresses = new();
    private List<string> zones = new();
    private List<Enemy> enemiesInZone = new();
    private Timer? timer;
    private Random random = new Random();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        OnTaskCompleted = EventCallback.Factory.Create<TaskProgress>(this, (p) => resourceManager.ReceiveRewards(p.Task));
        var tasks = await GameDataService.GetTasksAsync();
		var characters = new List<Character>() { new Character("Hero") };
        var enemies = await GameDataService.GetEnemiesAsync();
        var items = await GameDataService.GetItemsAsync();
        var jobs = await GameDataService.GetJobsAsync();
        var materia = await GameDataService.GetMateriaAsync();

        resourceManager.SetData(tasks, characters, materia, jobs, items, enemies);
        zones = enemies.Select(e => e.Zone).Distinct().ToList();

        timer = new Timer(100);
        timer.Elapsed += (sender, args) => { _ = System.Threading.Tasks.Task.Run(OnTimerElapsed); };
        timer.AutoReset = true;
        timer.Enabled = true;
    }

    private async System.Threading.Tasks.Task OnZoneSelected(ChangeEventArgs e)
    {
        var zone = e.Value?.ToString();
        if (zone is not null && zone is not "Select a zone")
        {
            enemiesInZone = await GameDataService.GetEnemiesAsync(zone);
        }
        else
        {
            enemiesInZone = new();
        }
        StateHasChanged();
    }

    private void Collect()
    {
        // This will be implemented later
        StateHasChanged();
    }

    private void NextDay()
    {
        // This will be implemented later
        StateHasChanged();
    }

    private async System.Threading.Tasks.Task TaskDropped((TaskData task, Character character) args)
    {
        if (resourceManager.CanAfford(args.task))
        {
            resourceManager.PayCosts(args.task);
            //resourceManager.Tasks.Remove(args.task);
            taskProgresses.Add(new TaskProgress(args.task, args.character));

            var allTasks = await GameDataService.GetTasksAsync();
            var randomTask = allTasks[random.Next(allTasks.Count)];
            //resourceManager.AddTask(randomTask);

            StateHasChanged();
        }
    }

    private async System.Threading.Tasks.Task DiscardTask(TaskData task)
    {
        resourceManager.Tasks.Remove(task);
        var allTasks = await GameDataService.GetTasksAsync();
        var randomTask = allTasks[random.Next(allTasks.Count)];
        resourceManager.AddTask(randomTask);
        StateHasChanged();
    }

    private async System.Threading.Tasks.Task OnTimerElapsed()
    {
        var newlyCompletedTasks = new List<TaskProgress>();
        foreach (var progress in taskProgresses)
        {
            if (progress.Progress < 100)
            {
                var elapsed = (DateTime.Now - progress.StartTime).TotalSeconds;
                progress.Progress = Math.Min(100, (elapsed / progress.Task.DurationSeconds) * 100);

                if (progress.Progress >= 100)
                {
                    newlyCompletedTasks.Add(progress);
                }
            }
        }

        if (newlyCompletedTasks.Any())
        {
            foreach (var task in newlyCompletedTasks)
            {
                await OnTaskCompleted.InvokeAsync(task);
            }
            taskProgresses.RemoveAll(p => p.Progress >= 100);
        }

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
