@using Microsoft.AspNetCore.Components.Web
@using Mythril.Data
@using Mythril.Blazor
@using Mythril.Blazor.Services
@inject DragDropService DragDropService

<div class="card" draggable="true" @ondragstart="HandleDragStart">
    <div class="card-header">
        <span class="material-icons" style="color: green;">
            @(QuestData!.Type == QuestType.Single ? "flag" : "repeat")
        </span>
        @QuestData.Name
    </div>

    <div class="card-content">
        <div class="card-main">
            <p>@QuestData.Description</p>
            <p>@QuestData.DurationSeconds seconds</p>
        </div>
        <div class="card-side">
            @if (QuestData.Requirements.Length > 0)
            {
                <h6>Requirements:</h6>
                <ul>
                    @foreach (var requirement in QuestData.Requirements)
                    {
                        <li>@requirement.Item.Name @requirement.Quantity</li>
                    }
                </ul>
            }
        </div>
        <div class="card-side">
            @if (QuestData.Rewards.Length > 0)
            {
                <h6>Rewards:</h6>
                <ul>
                    @foreach (var reward in QuestData.Rewards)
                    {
                        <li>@reward.Item.Name @reward.Quantity</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public QuestData? QuestData { get; set; }

    private void HandleDragStart(DragEventArgs args)
    {
        if (!string.IsNullOrWhiteSpace(QuestData!.Name))
        {
            args.DataTransfer.EffectAllowed = "move";
            DragDropService.Data = QuestData;
        }
    }
}
