@using Microsoft.AspNetCore.Components.Web
@using Mythril.Data
@using Mythril.Blazor
@using Mythril.Blazor.Services
@inject DragDropService DragDropService

<div class="card" draggable="true" @ondragstart="HandleDragStart">
    <div class="card-header">@Quest.Name</div>
    <div class="card-content">
        <div class="card-main">
            <p>@Quest.Description</p>
            <p>@Quest.DurationSeconds seconds</p>
        </div>
        <div class="card-side">
            @if (Quest.Requirements.Count > 0)
            {
                <h6>Requirements:</h6>
                <ul>
                    @foreach (var requirement in Quest.Requirements)
                    {
                        <li>@requirement.Value @requirement.Key</li>
                    }
                </ul>
            }
        </div>
        <div class="card-side">
            @if (Quest.Rewards.Count > 0)
            {
                <h6>Rewards:</h6>
                <ul>
                    @foreach (var reward in Quest.Rewards)
                    {
                        <li>@reward.Value @reward.Key</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Quest Quest { get; set; }

    private void HandleDragStart(DragEventArgs args)
    {
        if (!string.IsNullOrWhiteSpace(Quest.Name))
        {
            args.DataTransfer.EffectAllowed = "move";
            DragDropService.Data = Quest;
        }
    }
}
