@using Mythril.Data
@using Mythril.Blazor.Services
@inject ResourceManager resourceManager
@inject ItemRefinements refinements
@inject SnackbarService SnackbarService

<div class="workshop-panel">
    <div class="workshop-content">
        @{
            var discoveredRefinements = refinements.ByKey
                .Where(r => UnlockedAbilities?.Any(ua => ua.EndsWith($":{r.Key.Name}")) == true)
                .ToList();
        }

        @if (discoveredRefinements.Any())
        {
            @foreach (var refinementGroup in discoveredRefinements)
            {
                var ability = refinementGroup.Key;
                // Check if ANY character has a cadence assigned that has this ability UNLOCKED
                var anyoneHasAbility = resourceManager.Characters.Any(c => resourceManager.HasAbility(c, ability));
                
                <div @key="ability.Name" class="refinement-group @(anyoneHasAbility ? "" : "locked")">
                    <h4>@ability.Name @(anyoneHasAbility ? "" : "(Assign a character with this ability to unlock)")</h4>
                    
                    <div class="recipe-list">
                        @foreach (var recipeKvp in refinementGroup.Value.Recipes)
                        {
                            var inputItem = recipeKvp.Key;
                            var recipe = recipeKvp.Value;
                            var refinementData = new RefinementData(ability, inputItem, recipe, refinementGroup.Value.PrimaryStat);
                            
                            <RefinementCard Refinement="@refinementData" @key="@(ability.Name + inputItem.Name)" />
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-refinements">
                No refinements discovered
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public HashSet<string>? UnlockedAbilities { get; set; }
}
